/* Estilos personalizados */
body {
    background-color: #f3f4f6; /* Un gris muy suave de fondo */
}

/* Scroll personalizado para la tabla */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #c1c1c1; 
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8; 
}